.pagination {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

ul.paginator {
    display: flex;
    justify-content: center;
    list-style: none;
}

@media screen and ( max-width: 768px ) {
    ul.paginator {
        padding: 0;
    }
}

ul.paginator li button {
    padding: 10px 15px;
    color: #fff;
    background: #1770f9;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    font-size: 16px;
}

ul.paginator li:hover button {
    background-color: #1255be;
}

ul.paginator li:last-child {
    margin-left: 15px;
}