.progress {
    background-color: #d0d3d5;
    border-radius: 5px;
    height: 1.2rem;
    margin-bottom: 20px;
}


.progress-bar {
    background-color: #1770f9;
    border-radius: 0.25px;
    height: 1.2rem;
    border-radius: 5px;
}