<link rel="stylesheet" href="./components/navbar/navbar.css">
<nav>
    <div class="logo">
        Atomic Design
    </div>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about.html">Components</a>  
        </li>
        <li class="dropdown">
            <a href="">Components Events</a>  
            <div class="dropdown-content">
                <a href="#">service 1</a>
                <a href="#">service 2</a>
                <a href="#">service 3</a>
            </div>
        </li>
        <li>
            <a href="#">Contact</a>   
        </li>
    </ul>
</nav>