<link rel="stylesheet" href="components/navbar/navbar.css">
<nav>
    <div class="logo">
        Atomic Design
    </div>
    <div class="responsive-only">
        <button id="sidenav">&#9776;</button>
    </div>
    <ul>
        <li>
            <a href="/">Main</a>
        </li>
        <li class="dropdown">
            <a href="#">Components</a>
            <div class="dropdown-content">
                <a href="/pages/tables/tables.html">Tables and menus</a>
                <a href="/pages/post/post.html">Buttons and bars</a>
                <a href="/pages/lists/lists.html">Collapsibles and sliders</a>
            </div>  
        </li>
        <li class="dropdown">
            <a href="#">Others</a>  
            <div class="dropdown-content">
                <a href="/pages/graphics/graphics.html">Graphics and canvas</a>
                <a href="/pages/web-assembly/webAssembly.html">Web Assembly</a>
                <a href="/pages/lazy/lazy.html">Lazy load and Interception API</a>
            </div>
        </li>
        <li>
            <a href="/pages/forms/forms.html">Forms</a>   
        </li>
    </ul>
</nav>