
<!-- /* web-component create-app-cli */ -->
<link rel="stylesheet" href="components/slider-swiper/slider-component.css" />
<!-- Slider main container -->
<div class="swiper">
	<!-- Additional required wrapper -->
	<div class="swiper-wrapper" id="slider-wrapper"></div>
	<!-- If we need pagination -->
	<div class="swiper-pagination"></div>
  
	<!-- If we need navigation buttons -->
	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>
  
	<!-- If we need scrollbar -->
	<div class="swiper-scrollbar"></div>
</div>
