
/* web-component create-app-cli */	
.swiper {
    width: 600px;
    height: 400px;
}

@media screen and ( max-width: 768px ) {
    .swiper {
        width: 100%;
        height: 250px;
    }  
}

.swiper-slide img {
    height: 100%;
    width: 100%;
}

.swiper-button-next, .swiper-button-prev {
    color: white !important;
}

.swiper-pagination-bullet-active {
    background-color: white !important;
}


  
