/* hero-component */
.background {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    min-height:  150px;
    height: 350px;
}

.layer {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #fff;
}

.layer h2 {
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.layer p {
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}