footer {
    background: black;
    color: white;
}

footer .grid-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 100px;
}

@media screen and (max-width: 768px) {
    footer .grid-footer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        margin: 0 10px;
    }
}

footer .grid-footer div {
    padding: 20px;
}

footer .grid-footer ul li a {
    color: white;
    text-decoration: none;
}

footer .grid-footer ul li {
    padding: 5px;
    
}

footer .copyright {
    text-align: center;
    padding: 10px;
    margin-bottom: 0;
}

footer .redes-sociales i {
    color: white;
    margin-right: 20px;
}

footer .redes-sociales a {
    text-decoration: none;
}

footer .redes-sociales .icons-inline {
    display: inline;
}