<link rel="stylesheet" href="./components/footer/footer.css">
<footer>
    <div class="grid-footer">
        <div>
            <h3>Sobre nosotros</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe adipisci, corporis ipsa laboriosam natus tenetur numquam corrupti sequi tempore fugit? In itaque modi vero totam eaque nobis nulla aspernatur quasi!</p>
        </div>
        <div>
            <h3>Publicaciones</h3>
            <ul> <!-- for template here  -->
                <li>
                    <a href="">
                        Clases de concina
                    </a>
                </li>
                <li>
                    <a href="">
                        Electronica para la vida
                    </a>
                </li>
                <li>
                    <a href="">
                        Musica en todos los sentidos
                    </a>
                </li>
            </ul>
        </div>
        <div class="redes-sociales">
            <h3>Redes Sociales</h3>
            <div class="icons-inline">
                <a href="https://facebook.com">
                    <i class="fab fa-facebook-square fa-2x"></i>
                </a>
                <a href="https://youtube.com">
                    <i class="fab fa-youtube fa-2x"></i>
                </a>
                <a href="https://instagram.com">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>
            </div>
        </div>
    </div>
    <p class="copyright"></p>
</footer>