
/* web-component create-app-cli */	
.sidenav {
    height: 100%;
    width: 0; /* change with javascript */
    position: fixed;
    z-index: 1; /* por encima */
    top: 0;
    left: 0;
    background-color: #2a2a2a;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav .content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@media screen and (min-width: 768px)   {
    .sidenav .content div:first-child {
        padding-top: 20px;
    }
    
    .sidenav .content div:last-child {
        padding-bottom: 20px;
    }
}

.sidenav a {
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav .closebtn {
    font-size: 16px; 
    text-decoration:underline;
    cursor: pointer;
    text-transform: capitalize;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
  }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
